# Ignore node_modules (too heavy)
node_modules/
dist/
build/

# Ignore Environment variables (Security risk!)
.env

# Ignore Mac/Windows system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore Office temporary files
~$*.pptx
~$*.docx
*.tmp

# Ignore Go binaries (FIXED)
server.exe
src/backend/server